<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>curriculum vitae</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link href="../../stylesheets/cv.css" rel="stylesheet" media="screen, print" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
</head>

<body>

 <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="title">
                <h1>The Resume/CV</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="first-column">
                <div class="photo"><img src="images/IMG_20190318_141529.jpg"></div>
                <div class="info-wrap">
                    <div class="info">
                        <h4>Personal Info</h4>
                    </div>
                </div>

                <div class="info-title">
                    <p>Location</p>
                </div>
                <div class="info-descr">
                    <p>London</p>
                </div>

                <div class="info-title">
                    <p>Phone</p>
                </div>
                <div class="info-descr">
                    <p>+44 7901 182721</p>
                </div>

                <div class="info-title">
                    <p>E-mail</p>
                </div>
                <div class="info-descr">
                    <p>paskeviciute.rima@gmail.com</p>
                </div>

                <div class="info-title">
                    <p>www</p>
                </div>
                <div class="info-descr">
                    <p>https://www.rimadev.com</p>
                    <p>https://www.linkedin.com/in/rima-paskeviciute-532aa7130/</p>
                </div>

                <div class="info-wrap">
                    <div class="info">
                        <h4>Skills</h4>
                    </div>
                </div>
                <div class="skills-wrap">
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>JavaScript</p>
                    <p>jQuery</p>
                    <p>Bootstrap</p>
                    <p>node.js</p>
                </div>

                <div class="info-wrap">
                    <div class="info">
                        <h4>Languages</h4>
                    </div>
                </div>

                <div class="languages">
                    <p>English - intermediate </p>
                    <p>French - advanced</p>
                    <p>Russian - intermediate</p>
                    <p>Lithuanian - native</p>
                </div>

            </div>

        </div>

        <div class="col-lg-8">
            <div class="second-row">
                <div class="name-wrap">
                    <div class="name">
                        <h2>RIMA PASKEVICIUTE</h2>
                        <p>Web Developer</p>
                    </div>
                </div>

                <div class="title-name">
                    <h3>SUMMARY</h3>
                    <hr>
                </div>
                <div class="title-text">
                    <p>Looking for an entry level position in Front-end web development. I am self-taught programmer and I have a knowledge of HTML, CSS and JavaScript. I completed a project from scratch (a website for a fictitional beauty salon). I am highly motivated and willing to work alongside other talented IT professionals.</p>
                </div>

                <div class="title-name">
                    <h3>WEB DEVELOPER SKILLS ACQUIRED WHILST STUDYING</h3>
                    <hr>
                </div>
                <div class="title-text">
                    <p>Knowledge of HTML, CSS, JavaScript, HTML5, CSS3, jQuery, Bootstrap, node.js </p>
                    <p>Creating websites that are user-friendly, effective and appealing</p>
                    <p>Creating quality web pages</p>
                </div>
                <div class="title-name">
                    <h3>EDUCATION</h3>
                    <hr>
                </div>
                <div class="title-text">
                    <p>2007 - 2011 The philology of the French language, Vilnius Pedagogical University, Lithuania</p>
                </div>

                <div class="title-name">
                    <h3>JOB EXPERIENCE</h3>
                    <hr>
                </div>
                <div class="title-text">
                    <p>2010-2017 Transport Manager at Bretalita, Vilnius, Lithuania</p>
                </div>

                <div class="title-name">
                    <h3>PERSONAL SKILLS</h3>
                    <hr>
                </div>
                <div class="title-text">
                    <p>Having creativity and imagination</p>
                    <p>Adaptable and able to pick up new techniques</p>
                    <p>Handling criticism well and learning from it</p>
                </div>

                <div class="title-name">
                    <h3>INTERESTS</h3>
                    <hr>
                </div>
                <div class="title-text">
                    <p>Long walks, playing video games.</p>
                </div>

            </div>
        </div>
    </div>
</div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>
</body>

</html>