<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>curriculum vitae</title>
            <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <link href="../../stylesheets/cv.css" rel="stylesheet" type="text/css"
    <link href="https://unpkg.com/ionicons@4.0.0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
</head>

<body>

    <div class="container main">
        <div class="row">

            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="img-wrap">
                            <img src="/images/IMG_20181001_134705.jpg">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <div class="title">
                            <h1>Rima Paskeviciute</h1>
                        </div>
                        <div class="sub-title">
                            <h3>web developer</h3>
                        </div>
                    </div>


                </div>

            </div>
            <div class="col-lg-4">
                <div class="contacts">
                    <p>e:paskeviciute.rima@gmail.com</p>
                    <p>w:www.portfolio.com</p>
                    <p>m:01234567890</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row about">
            <div class="col-lg-4">
                <div class="about-title">
                    <h3>Personal Profile</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="description">
                    <p>I'm changing my career and wanting to become a front end developer.</p>
                </div>
            </div>
        </div>



        <div class="row about">
            <div class="col-lg-4">
                <div class="about-title">
                    <h3>Projects</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="description">
                    <p>A hair salon website www.hairsalon.com</p>
                    <p>My portfolio website www.portfolio.com</p>
                </div>
            </div>
        </div>



        <div class="row about">
            <div class="col-lg-4">
                <div class="about-title">
                    <h3>Skills</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="description">
                    <p><strong>HTML, CSS, Java Script basics, Jquery, Bootstrap framework, Node JS, NPM, Express. </strong></p>
                </div>
            </div>
        </div>



        <div class="row about">
            <div class="col-lg-4">
                <div class="about-title">
                    <h3>Self Study</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="description">
                    <p>The Web Developer Bootcamp by Colt Steele</p>
                    <p>Build Responsive Real World Websites with HTML5 and CSS3 by Jonas Schmedtmann</p>
                    <p>currently learning from: The Complete JavaScript Course 2018: Build Real Projects by Jonas Schmedtmann.</p>
                </div>
            </div>
        </div>




        <div class="row about">
            <div class="col-lg-4">
                <div class="about-title">
                    <h3>Education</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="description">
                    <p>2007 - 2011 The philology of the French language, Vilnius Pedagogical University, Lithuania</p>
                </div>
            </div>
        </div>



        <div class="row about">
            <div class="col-lg-4">
                <div class="about-title">
                    <h3>Languages</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="description">
                    <p>Lithuanian - native</p>
                    <p>French - speak very well, write very well</p>
                    <p>English - speak well, write well</p>
                </div>
            </div>
        </div>



        <div class="row about">
            <div class="col-lg-4">
                <div class="about-title">
                    <h3>Work Experience</h3>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="description">
                    <p>2010-2017 Transport Manager at Bretalita, Vilnius, Lithuania</p>
                </div>
            </div>
        </div>
    </div>







    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>
</body>

</html>