<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <link href="../../stylesheets/main.css" rel="stylesheet" type="text/css">
  
    <link href="https://unpkg.com/ionicons@4.0.0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
</head>


<body>
    <div class="nav" id="nav-slide">
        <div id="home" class="link"><a href="#home"><b>Home</b></a></div>
        <div id="about" class="link"><a href="#news">About Me</a></div>
        <div id="work" class="link"><a href="#contact">My Work</a></div>
        <div id="contact" class="link"><a href="#about">Contact Me</a></div>
    </div>
    
    <div id="burger-slide" class="burger-wrap menu">
        <div class="burger">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>



    <!--   main   -->

    <div id="hero" class="container header">
        <div id="home-section" class="hero-text">
            <div class="p1">
                <p>Hello, I am</p>
            </div>
            <div class="name">
                <h1>RIMA</h1>
            </div>
            <div class="p2">
                <p>AND I WANT TO</p>
            </div>
            <div class="animation"><span id="js-rotating">CHANGE MY CAREER, BE A PROFESSIONAL WEB DEVELOPER, GET A JOB!</span></div>
        </div>
    </div>
    
      <div id="easteregg">
        <a class= "icon-wrap" href="#"><ion-icon name="close"></ion-icon></a>
        <span>This website is responsive! <br> Go ahead and try it!</span>
    </div>
    
        <div id="easteregg2">
        <a class= "icon-wrap" href="#"><ion-icon name="close"></ion-icon></a>
        <span>Yes! You did it!</span>
    </div>

    <!--    about -->

    <div id="about-me" class="container wrap">
        <div class="row">
            <div class="col-lg-4 blue">
                <div class="photo">
                    <img src="images/profilepic.jpg">
                </div>
            </div>
            <div class="col-lg-8 blue">
                <div class="about-text"><span>Hi! I am Rima. I am looking for an entry level position in Front-end web development. I am self-taught programmer and I have a knowledge of HTML, CSS and JavaScript. I completed a project from scratch  (a website that you can find below). I am highly motivated and willing to work alongside other talented IT professionals.development. </span></div>
            </div>
<!--            <hr class="separator">-->
        </div>
    </div>

    <!--    work  -->
    <div class="container">

        <div class="row skills-wrap">
            <div class="col-lg-6 descr-wrap">
                <div class="skills"> My main school was Udemy: The Web Developer Bootcamp by Colt Steele and  Jonas Schmedtmann's Build Responsive Real World Websites with HTML5 and CSS3. These courses gave me skills like <span class="skills-strong">HTML, CSS, JavaScript, jQuery, Bootstrap, node.js.</span></div>
            </div>
            <div class="col-lg-6 descr-wrap">
                <div class="skills">Currently learning from The Complete JavaScript Course 2019: Build Real Projects and The Advanced Web Developer Bootcamp.</div>
            </div>
        </div>
    </div>


    <div id="my-work" class="container">
        <div class="row blue">
            <div class="col-lg-4">
                <div class="title"><span>My first website</span></div>
                <div class="button">
                    <a target="_blank" href="https://mighty-peak-26686.herokuapp.com/">Open website</a>
                </div>
                <div class="work-text"><span>It's a website for a fictional hair salon. I created it with HTML5, CSS3, node.js, express, jQuery and Bootstrap framework.</span></div>
            </div>
            <div class="col-lg-8 work-img">
                <a href="https://mighty-peak-26686.herokuapp.com/" target="_blank">
                    <img src="images/salon.jpg"></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row blue">
            <div class="col-lg-4 ">
                <div class="adjust-content">
                    <div class="title"><span>My CV</span></div>
                </div>
            </div>
            <div class="col-lg-8 work-img">
                <a target="_blank" href="/cv"><img class="img-fluid" src="images/cv.png"></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row blue">
            <div class="col-lg-4 ">
                <div class="adjust-content">
                    <div class="title"><span>My GITHUB</span></div>
                </div>
            </div>
            <div class="col-lg-8 work-img">
                <a target="_blank" href="https://github.com/weevi/"><img src="images/github.png"></a>
            </div>
        </div>
    </div>



    <div id="contact-me" class="container">
        <div class="row blue">
            <div class="col-lg-4 ">
                <div class="adjust-content">
                    <div class="title"><span>Contact Me</span></div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="icons">
                    <a href="https://www.linkedin.com/in/rima-paskeviciute-532aa7130/">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                    <a href="https://github.com/weevi">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="../../script/script.js"></script>
<script src="../../plugins/morphext.min.js"></script>
<script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>

</html>